.playlist li {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #000;
  line-height: 30px;
  padding: 0.2rem 0.8rem;
  width: 100%;
  list-style: none;
  cursor: pointer;
  background-color: #E6E6E6;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 1px 2px #fff;
     -moz-box-shadow: 1px 2px #fff;
          box-shadow: 1px 2px #fff;
  }

  .playlist li:hover{
  background-color: #FF7E00;
  }


.dropdown a{
    text-decoration: none;
  }

.dropdown a :hover{
  color: #FF7E00;
}


.brands .itemspartner img {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.brands .itemspay img {
  width: 150px;
  height: auto;
  margin-right: 40px;
}

.brands h4 {
  padding-top: 40px;
  padding-bottom: 5px;
  text-align: center;
}

.brands .itemspartner {
  text-align: center;
  padding-bottom: 40px;
}

.brands .itemspay {
  text-align: center;
  padding-bottom: 40px;
}

.exp {
  margin-left: 5px;
  margin-top: 3px;
}

.lessonname {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  height: 70px;"
}

.horizontalorangeline{
  padding: 1px;
  background-color: #FF6A00;
}


.itemlesson{
  margin-top: 30px;
  padding-bottom: 0px;
}

.itemlesson .itemlessoninside {
  box-shadow: 3px 3px gray;
  padding: 12px;
  background-color: #fff;
  padding-bottom: 40px;
}

.itemlesson .itemlessoninside .duration {
  padding: 0px 0px 0px 20px;
  font-size: 14px;
}


.itemlesson h3.text-left.name {
  font-size: 20px;
  margin-top: 11px;
  margin-bottom: 10px;
  height: 50px;
}

.itemlesson a, .itemlesson a:hover {
  background-color: #FF7E00;
  color: #fff;
  padding: 0px 8px 4px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 2px 2px gray;
}

#new {
  display: flex;
}

#popular {
  display: none;
}

.mylessons{
background-color: #e6e6e6;
padding: 20px 20px 20px 0px;
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-size: 18px;
color: #000;
/* line-height: 35px; */
/* width: 66rem; */
height: 31rem;
margin-top: 18px;
overflow: auto;
float: left;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;

}

.lessonlistitem{
  background-color: #e6e6e6;
  border-width: 2px;
  margin-left:  -17px;
  border-color: #fff;
  list-style-type: none;
  height: 44px;
  line-height: 40px;
}



.mylessons  a {
      color: #000;
      text-decoration: none;

}

.mylessons a:hover {

      color: #FF6A00;
      text-decoration: none;

}

.mylessons  .link {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;

    height: 10px;
    float: right;
    /* width: 20rem; */
}

.mylessons ul li  {
  padding: 0px 10px;
   border-color: #FF6A00;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 1px;
}
