.playlist li {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #000;
  line-height: 30px;
  padding: 0.2rem 0.8rem;
  width: 100%;
  list-style: none;
  cursor: pointer;
  background-color: #E6E6E6;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 1px 2px #fff;
     -moz-box-shadow: 1px 2px #fff;
          box-shadow: 1px 2px #fff;
  }

  .playlist li:hover{
  background-color: #FF7E00;
  }


.dropdown a{
    text-decoration: none;
  }

.dropdown a :hover{
  color: #FF7E00;
}
