.playlist li {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #000;
  line-height: 30px;
  padding: 0.2rem 0.8rem;
  width: 100%;
  list-style: none;
  cursor: pointer;
  background-color: #E6E6E6;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 1px 2px #fff;
     -moz-box-shadow: 1px 2px #fff;
          box-shadow: 1px 2px #fff;
  }

  .playlist li:hover{
  background-color: #FF7E00;
  }


.dropdown a{
    text-decoration: none;
  }

.dropdown a :hover{
  color: #FF7E00;
}


.brands .itemspartner img {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.brands .itemspay img {
  width: 150px;
  height: auto;
  margin-right: 40px;
}

.brands h4 {
  padding-top: 40px;
  padding-bottom: 5px;
  text-align: center;
}

.brands .itemspartner {
  text-align: center;
  padding-bottom: 40px;
}

.brands .itemspay {
  text-align: center;
  padding-bottom: 40px;
}

.exp {
  margin-left: 5px;
  margin-top: 3px;
}

.lessonname {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  height: 70px;"
}

.horizontalorangeline{
  padding: 2px;
  background-color: #FF6A00;
}


.itemlesson{
  margin-top: 30px;
  padding-bottom: 0px;
  display:none;
}

.itemlesson .itemlessoninside {
  box-shadow: 3px 3px gray;
  padding: 12px;
  background-color: #fff;
  padding-bottom: 35px;
}

.itemlesson .itemlessoninside .duration {
  padding: 0px 0px 0px 20px;
  font-size: 14px;
}


.itemlesson h3.text-left.name {
  font-size: 20px;
  margin-top: 11px;
  margin-bottom: 10px;
  height: 70px;
}

.itemlesson a, .itemlesson a:hover {
  background-color: #FF7E00;
  color: #fff;
  padding: 8px;
  padding-bottom: 4px;
  font-size: 14px;
  padding-top: 4px;
}

#new {
  display: flex;
}

#popular {
  display: none;
}
